/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#comment_admincp_id {
  font-family: "Lato", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
#comment_admincp_id  .adm_active_btn {
  background-color: red;
  color: #ffffff;
}

#comment_admincp_id button, select {
  font-size: 13px;
}
#comment_admincp_id table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
#comment_admincp_id .table {
  width: 100%;
  margin-bottom: 20px;
}
#comment_admincp_id .table th,
#comment_admincp_id .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
#comment_admincp_id .table th {
  font-weight: bold;
}
#comment_admincp_id .table thead th {
  vertical-align: bottom;
}
#comment_admincp_id .table caption + thead tr:first-child th,
#comment_admincp_id .table caption + thead tr:first-child td,
#comment_admincp_id .table colgroup + thead tr:first-child th,
#comment_admincp_id .table colgroup + thead tr:first-child td,
#comment_admincp_id .table thead:first-child tr:first-child th,
#comment_admincp_id .table thead:first-child tr:first-child td {
  border-top: 0;
}
#comment_admincp_id .table tbody + tbody {
  border-top: 2px solid #dddddd;
}
#comment_admincp_id .table .table {
  background-color: #ffffff;
}
#comment_admincp_id .table-condensed th,
#comment_admincp_id .table-condensed td {
  padding: 4px 5px;
}
#comment_admincp_id .table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#comment_admincp_id .table-bordered th,
#comment_admincp_id .table-bordered td {
  border-left: 1px solid #dddddd;
}
#comment_admincp_id .table-bordered caption + thead tr:first-child th,
#comment_admincp_id .table-bordered caption + tbody tr:first-child th,
#comment_admincp_id .table-bordered caption + tbody tr:first-child td,
#comment_admincp_id .table-bordered colgroup + thead tr:first-child th,
#comment_admincp_id .table-bordered colgroup + tbody tr:first-child th,
#comment_admincp_id .table-bordered colgroup + tbody tr:first-child td,
#comment_admincp_id .table-bordered thead:first-child tr:first-child th,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child th,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
#comment_admincp_id .table-bordered thead:first-child tr:first-child > th:first-child,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child > td:first-child,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
#comment_admincp_id .table-bordered thead:first-child tr:first-child > th:last-child,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child > td:last-child,
#comment_admincp_id .table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
#comment_admincp_id .table-bordered thead:last-child tr:last-child > th:first-child,
#comment_admincp_id .table-bordered tbody:last-child tr:last-child > td:first-child,
#comment_admincp_id .table-bordered tbody:last-child tr:last-child > th:first-child,
#comment_admincp_id .table-bordered tfoot:last-child tr:last-child > td:first-child,
#comment_admincp_id .table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
#comment_admincp_id .table-bordered thead:last-child tr:last-child > th:last-child,
#comment_admincp_id .table-bordered tbody:last-child tr:last-child > td:last-child,
#comment_admincp_id .table-bordered tbody:last-child tr:last-child > th:last-child,
#comment_admincp_id .table-bordered tfoot:last-child tr:last-child > td:last-child,
#comment_admincp_id .table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
#comment_admincp_id .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}
#comment_admincp_id .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}
#comment_admincp_id .table-bordered caption + thead tr:first-child th:first-child,
#comment_admincp_id .table-bordered caption + tbody tr:first-child td:first-child,
#comment_admincp_id .table-bordered colgroup + thead tr:first-child th:first-child,
#comment_admincp_id .table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
#comment_admincp_id .table-bordered caption + thead tr:first-child th:last-child,
#comment_admincp_id .table-bordered caption + tbody tr:first-child td:last-child,
#comment_admincp_id .table-bordered colgroup + thead tr:first-child th:last-child,
#comment_admincp_id .table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
#comment_admincp_id .table-striped tbody > tr:nth-child(odd) > td,
#comment_admincp_id .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#comment_admincp_id .table-hover tbody tr:hover > td,
#comment_admincp_id .table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
#comment_admincp_id table td[class*=span],
#comment_admincp_id table th[class*=span],
#comment_admincp_id .row-fluid table td[class*=span],
#comment_admincp_id .row-fluid table th[class*=span] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
#comment_admincp_id .table td.span1,
#comment_admincp_id .table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
#comment_admincp_id .table td.span2,
#comment_admincp_id .table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
#comment_admincp_id .table td.span3,
#comment_admincp_id .table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
#comment_admincp_id .table td.span4,
#comment_admincp_id .table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
#comment_admincp_id .table td.span5,
#comment_admincp_id .table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
#comment_admincp_id .table td.span6,
#comment_admincp_id .table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
#comment_admincp_id .table td.span7,
#comment_admincp_id .table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
#comment_admincp_id .table td.span8,
#comment_admincp_id .table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
#comment_admincp_id .table td.span9,
#comment_admincp_id .table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
#comment_admincp_id .table td.span10,
#comment_admincp_id .table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
#comment_admincp_id .table td.span11,
#comment_admincp_id .table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
#comment_admincp_id .table td.span12,
#comment_admincp_id .table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
#comment_admincp_id .table tbody tr.success > td {
  background-color: #dff0d8;
}
#comment_admincp_id .table tbody tr.error > td {
  background-color: #f2dede;
}
#comment_admincp_id .table tbody tr.warning > td {
  background-color: #fcf8e3;
}
#comment_admincp_id .table tbody tr.info > td {
  background-color: #d9edf7;
}
#comment_admincp_id .table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}
#comment_admincp_id .table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}
#comment_admincp_id .table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}
#comment_admincp_id .table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}